@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
*{
  /* outline: 1px solid limegreen; */
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-1: #dbd8e3;
  --clr-2: #5c5470;
  --clr-3: #352f44;
  /* --clr-4: #1a181e; */
  --clr-4: #000000;
  --clr-5: #4e125d;
  --project-title: #ffffff;
}
body{
  background-color: #000000;
  color: #ffffff;
}
#app{
  display: grid;
}
a{
  text-decoration: none;
  color: #ffffff;
}
.banner{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.head{
  height: 33%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 10vw;
  font-weight: 600
}
.finHead{
  opacity: 0;
  transition: opacity 0.5s ease-out;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.finHead.active{
  opacity: 1;
}
.finHead .left .sub p{
  font-size: 5vw;
}

.finHead span{
  font-size: 2vw;
}

.project-banner{
  background: linear-gradient(
    var(--clr-4),
    var(--clr-3),
    var(--clr-3),
    var(--clr-4)
  );
  align-items: center;
}

.projects{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  max-width: 80vw;
  gap: 2em;
  max-height: 80vh;
}

.project-title p{
  font-size: 5vw;
  font-weight: 1000;
}
.project-1{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 2em;
}

.project-2{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 2em;
}

.project-rows{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.card{
  background-color: var(--clr-4);
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
}

.card > * {
  text-shadow: 0 0 0.3em currentColor;
}

.card > h3 {
  color: var(--project-title);
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  border-radius: inherit;
}

/* shadow */
.card::before {
  inset: 0.25rem;
  border-radius: inherit;
  background: black;
  z-index: -1;
  transform: translateZ(-50px);
  filter: blur(15px);
  opacity: 0.5;
}

/* gradient thingy */
.card::after {
  z-index: -2;
  inset: -0.5rem;
  background: linear-gradient(-45deg, var(--clr-1), var(--clr-5));
  /* background: linear-gradient(-45deg, red, blue); */
  transform: translateZ(-50px);
}


@media only screen and (max-width: 600px) {
  .project-1{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  
  .project-2{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    /* opacity: 0; */
  }

  .project-banner{
    height: auto;
    padding-bottom: 300px;
  }
}


.blog-banner{
  min-height: 100vh;
}

.blog{
  /* float:left; */
  width:100%;
  height:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.blog-title p{
  font-size: 5vw;
  font-weight: 1000;
}

.blog-items{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  position:relative;
  gap: 2em;
}

.blog .item{
  cursor: pointer;
  float:left;
  min-height: 100%;
  width:15vw;
  overflow:hidden;
  border-radius:1vw;
  border:0.05vw solid #ddd;
}

.blog .item .thumb{
  float:left;
  width:100%;
  overflow:hidden;
  position:relative;
}

.blog .item .thumb img{
  float:left;
  width:100%;
  height:auto;
  object-fit:cover;
  object-position:center;
  aspect-ratio:1/1;
  transition:0.6s;
}

.blog .item:hover .thumb img{
  transform: scale(1.1);
}

.blog .item .text{
  float:left; width:100%;
  padding:20px;
}
.blog .item .text h2{
  color:#ffffff;
  font-size: 1.5vw;
  margin:0 0 15px 0;
}
.blog .item .text h2 a{
  color:#f5f5f5;
  border-bottom:1px solid rgba(0,0,0,0);
  transition:0.6s;
}
.blog .item .text h3:hover a{
  border-bottom:1px solid rgba(0,0,0,1);
}
.blog .item .text p{
  color:#666;
  font-weight: 1000;
  font-size: 1vw;
  margin:0 0 15px 0;
}

.links a:hover{
  font-size:1.5em;
  transition: 0.1s ease-out;
}

.resume-banner{
  background: linear-gradient(
    var(--clr-4),
    var(--clr-3),
    var(--clr-3),
    var(--clr-4)
  );
}

.resume{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
}

.resume h1{
  display: flex;
  align-items: center;
}

.links{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  gap: 1em;
}

/* 
.content{
  width: 10rem;
  height: 10rem;
}

.tagcloud {
    font-family: 'Poppins', sans-serif;  
    font-size: 20px;
    margin: auto;
    width: 50%;
  }
  .tagcloud--item:hover {
    color: #ffffff;
  } */